* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .header {
    background-color: #f5f6f7;
  }
  /* SECTION NAVBAR
  ====================== */
  nav {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_inner {
    width: 1210px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }
  
  .nav_inner_list {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav_inner_list p {
    font-weight: 700;
    font-size: 14px;
    color: #0f2336;
    cursor: pointer;
  }
  
  .nav_inner_list button {
    width: 122px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0f2336;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  @media all and (max-width: 640px) {
    nav {
      justify-content: center;
    }
    header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  /* BURGER MENU 
  =====================*/
  
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    visibility: hidden;
    cursor: pointer;
    top: 60px;
    right: 40px;
    width: 25px;
    height: 25px;
  
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0f2336;
  }
  
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    transform: rotate(0);
    top: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    transform: rotate(90deg);
    top: 0;
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  @media all and (max-width: 640px) {
    .menu__btn {
      visibility: visible;
    }
    .menu__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: flex-start;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      background-color: #576d81;
      z-index: 5;
    }
    .nav__bar_item {
      display: block;
      padding: 15px 25px;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
    }
    .nav__bar_item:hover {
      background-color: bisque;
    }
  }


    .content{
        margin-top: 100px;
    }
    .store_title{
        margin-left: 12%;
        margin-bottom: 20px;
    }
    .store_title{
        color: #00CCCC;
        font-size: 30px;
    }
    .store{
        margin-bottom: 50px;
    }

    .store_point{
        display: flex;
        width: 80%;
        justify-content: center;
    }

    .store_img{
        max-width: 50%;
    }
    .store_img img{
        width: 100%;
    }

    .store_descr{
        max-width: 50%;
        margin-left: 20%;
        margin-top: 5%;
        font-style: bold;
    }

    @media (max-width: 1080px) {
        .store_point{
            margin-left: 20px;
        }
    }




  .start-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home {
    margin-top: 133px;
  }
  .start-end h2 {
    font-size: 50px;
    color: #0f2336;
    text-align: center;
  }
  .link {
    margin-top: 20px;
  }
  .link button {
    color: #0f2336;
    font-size: 18px;
    font-weight: 700;
    border-radius: 14px;
    box-shadow: 0 3px 18px rgba(0, 201, 201, 0.55);
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .loading {
    margin-top: 44px;
    margin-bottom: 44px;
  }
  @media all and (max-width: 640px) {
    .home {
      display: block;
      margin-top: 490px;
    }
    .start-end h2 {
      margin-top: 100px;
    }
    .link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* END-END 
  ====================*/
  .end-end {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .the-end {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 142px;
  }
  ul {
    display: block;
    width: 111px;
    height: 107px;
  }
  .the-list {
    display: flex;
    width: 530px;
    height: 112px;
    justify-content: space-evenly;
    font-size: 14px;
    color: #576d81;
  }
  .the-list span {
    color: #00cccc;
  }
  li {
    list-style-type: none;
  }
  .the-list .span {
    margin-bottom: 13px;
  }
  @media all and (max-width: 640px) {
    .the-end {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }
    .the-end img {
      margin-bottom: 40px;
    }
  
    .the-list {
      font: 10px;
    }
  }